/************************** CSS Custom Properties **********************/
:root {
  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Otomanopee One", sans-serif;

  --color-primary: #0077b5;
  /* --color-primary: #3f8eb8; */
  --color-primary-lite: ;
  --color-black: #505050;
  --color-grey: #eee;
  --color-white: #fbfbfb;

  --font-large: ;
  --font-small: 0.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
  color: #252525;
}

body {
  background-color: var(--color-grey);
}

.btn {
  border: 0;
  color: #eee;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 0.1rem 0.2rem #252525;
}

.btn:hover {
  box-shadow: 0 0.1rem 0.4rem #252525;
}

.btn-black {
  background-color: #505050;
}

.btn-success {
  background-color: #1dd1a1;
  ;
}

.btn-caution {
  background-color: #ee5253;
}

.btn-yellow {
  background-color: #feca57;
}

.btn-small {
  padding: .4rem .8rem;
}

.btn-large {
  padding: 0.8rem 1.5rem;
}

/************************* STAT CARD styles ****************************/
.container {
  padding: 5vh;

  display: flex;
  justify-content: space-between;
}